
Statistical Data Visualization in Python/Data/diamonds.csv
Statistical Data Visualization in Python/Data/fmri.csv
Statistical Data Visualization in Python/Data/iris.csv
Statistical Data Visualization in Python/Data/planets.csv
Statistical Data Visualization in Python/Data/tips.csv
Statistical Data Visualization in Python/my own walkthrow/.ipynb_checkpoints/Statistical_Visualization-checkpoint.ipynb
